body {
  background-color: #232323;
}

.square {
  width: 30%;
  background-color: aquamarine;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}
#message {
  color: black;
}

h1 {
  color: white;
  background-color: steelblue;
  text-align: center;
  margin: 0;
  height: 120px;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}

#stripe button {
  height: 30px;
  background-color: white;
  border: 0;
}

#newcolor:hover {
  background-color: aquamarine;
  border: 1px solid aquamarine;
}

#stripe .selected {
  background-color: steelblue;
}
